.DS_Store
public
resources
.idea
content/.obsidian
assets/indices/linkIndex.json
assets/indices/contentIndex.json
linkmap
content/.smart-connections
content/stversions
content/.app
content/.stignore
content/.trash
content/.stversions/.obsidian/workspace-mobile~20230416-234622.json
content/private
content/Omnivore
content/externals
content/private/config
content/private
content/.stversions
content/Untitled.md
content/Untitled 1.md
content/Untitled 2.md
content/Untitled 3.md
content/Untitled 4.md
